<h1>Hello World, Brother, with .ejs file</h1>

<form class="" action="/addMessage" method="post">
  <p>Firestoreに追加したいテキストここに</p>
  <input type="text" name="message">
  <input type="submit" value="Submit">
</form>


<form class="" action="/console" method="post">
  <p>console.logしたいテキストここに</p>
  <input type="text" name="text">
  <input type="submit" value="Submit">
</form>

<form class="" action="/getAll" method="get">
  <p>全てのDocumentsの取得</p>
  <input type="submit" value="Get All">
</form>
